:root{
   --header-height: 3rem;

   /*?colores*/
   --first-color: #3664F4;
   --dark-color: #070D1F;
   --first-color-alt: #28283A;
   --white-color: #E6E7E9;

   /* ?Fuente y tipografia */
   --body-font: 'poppins', sans-serif;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;

   /* ?z-index */
   --z-fixed: 100;
}

@media screen and (min-width: 768px) {
   :root{
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
   }
   
}


*,::before,::after{
   box-sizing: border-box;
}
body{
   margin
}